@font-face {
  font-family: "BoschSans";
  src: url("/fonts/BoschSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpecialAlphabet";
  src: url("/fonts/specialalphabetsp04.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: darkgray;
}

.nameInputInside {
  width: 17.5em;
  height: 1.8em;
  border-radius: 20px;
  background-color: #d8dde0;
}

.colorTop {
  position: absolute;
  width: 100vw;
  height: 6px;
  z-index: 80;
  background-image: url("../../public/images/color.svg");
}

.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bemvindo {
  font-family: "BoschSans", sans-serif;
  font-size: 1rem;
  color: black;
  margin: 2em 0 0 0;
}

@keyframes mirrorRotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.rotate {
  animation: mirrorRotate 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  transform-origin: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.groupMeta {
  display: flex;
  margin-top: 0.15em;
}

.groupMeta h1 {
  margin: 0 0.02em 0 0.02em;
  padding: 0;
  line-height: 1;
  vertical-align: middle;
}

.fontX {
  font-family: "SpecialAlphabet", sans-serif;
  font-size: 2.7rem;
  margin-top: 0.1em !important;
}

.fontB {
  font-family: "BoschSans", sans-serif;
  font-size: 2.7rem;
}

.groupMeta h1:nth-child(1) {
  color: #007bc0;
}

.groupMeta h1:nth-child(2) {
  color: #9e2896;
}

.groupMeta h1:nth-child(3) {
  color: #18837e;
}

.groupMeta h1:nth-child(4) {
  color: #9e2896;
}

.groupMeta h1:nth-child(5) {
  color: #007bc0;
}

.groupMeta h1:nth-child(6) {
  color: #18837e;
}

.groupMeta h1:nth-child(7) {
  color: #007bc0;
}

.groupMeta h1:nth-child(8) {
  color: #9e2896;
}

.groupMeta h1:nth-child(9) {
  color: #18837e;
}

.botoes {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.buttonConj {
  display: inline-block;
  position: relative;
  margin-top: 1.5rem;
}

.buttonVazAzul {
  width: 9rem;
  height: 3.2rem;
  background-color: white;
  border: #007bc0 3px solid;
  color: #007bc0;
  font-family: "BoschSans", sans-serif;
  position: relative;
  cursor: pointer;
}

.buttonVazAzulHover,
.buttonVazAzulHover2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  opacity: 0;
  border: 0;
  z-index: 1;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.buttonVazAzulHover {
  top: 100%;
  width: 8.5rem;
  background-color: #b8d6ff;
}

.buttonVazAzulHover2 {
  top: calc(100% + 0.3rem);
  width: 8rem;
  background-color: #7ebdff;
}

.buttonConj:hover .buttonVazAzulHover,
.buttonConj:hover .buttonVazAzulHover2 {
  height: 0.3rem;
  opacity: 1;
}

.buttonVazVerde {
  width: 9rem;
  height: 3.2rem;
  background-color: white;
  border: #18837e 3px solid;
  color: #18837e;
  font-family: "BoschSans", sans-serif;
  position: relative;
  cursor: pointer;
}

.buttonVazVerdeHover,
.buttonVazVerdeHover2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  opacity: 0;
  border: 0;
  z-index: 1;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.buttonVazVerdeHover {
  top: 100%;
  width: 8.5rem;
  background-color: #a1dfdb;
}

.buttonVazVerdeHover2 {
  top: calc(100% + 0.3rem);
  width: 8rem;
  background-color: #79c5c0;
}

.buttonConj:hover .buttonVazVerdeHover,
.buttonConj:hover .buttonVazVerdeHover2 {
  height: 0.3rem;
  opacity: 1;
}

.buttonFec {
  width: 9rem;
  height: 3.2rem;
  background-color: #9e2896;
  border: 0;
  color: white;
  font-family: "BoschSans", sans-serif;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.buttonFecHover,
.buttonFecHover2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  opacity: 0;
  border: 0;
  z-index: 1;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.buttonFecHover {
  top: 100%;
  width: 8.5rem;
  background-color: #ebcae8;
}

.buttonFecHover2 {
  top: calc(100% + 0.3rem);
  width: 8rem;
  background-color: #e5a2df;
}

.buttonConj:hover .buttonFecHover,
.buttonConj:hover .buttonFecHover2 {
  height: 0.3rem;
  opacity: 1;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
}

.boschImage {
  height: 1.3em;
  width: auto;
}

.collectionImage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.fixedFormat {
  position: fixed;
}

.formatImage {
  height: 8em;
  width: 25em;
  background-color: #007bc0;
  animation-name: scaleImage;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  clip-path: polygon(4% 0, 100% 0%, 100% 99%, 0% 100%);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

.imageBack {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center;
}

.divLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.divDescLoading {
  display: flex;
  flex-Direction: column;
  align-items: center;
  justify-Content: center;
  text-Align: center;
  width: 35rem;
}

.hrLoading {
  width: 12em;
  border: 0;
  height: 2px;
  background: linear-gradient(90deg, rgba(158,40,150,1) 0%, rgba(0,123,192,1) 50%, rgba(26,156,59,1) 100%);
  margin-Top: 1rem;
}

.pipeLineLoading {
  font-Size: 1em;
  margin-Left: 0.5rem;
  margin-Right: 0.5rem;
  margin-Top: 0.5rem;
}

.logosLoading {
  width: 2rem;
  height: 2rem;
}

.loader {
  width: 40px;
  margin-top: 20px;
  aspect-ratio: 2;
  --_i: no-repeat radial-gradient(circle closest-side,#9e2896 90%,#0000);
  --_s: no-repeat radial-gradient(circle closest-side,#007bc0 90%,#0000);
  --_a: no-repeat radial-gradient(circle closest-side,#1a9c3b 90%,#0000);
  background: 
    var(--_i) 0%   50%,
    var(--_s) 50%  50%,
    var(--_a) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

@keyframes moveBusInCircle {
  0% {
    transform: rotate(0deg) translate(6rem) rotate(0deg); /* Começa na parte de cima, apontando para a direita */
  }
  25% {
    transform: rotate(90deg) translate(6rem) rotate(-90deg); /* Movendo para a direita, girando para baixo */
  }
  50% {
    transform: rotate(180deg) translate(6rem) rotate(-180deg); /* Movendo para baixo, girando para a esquerda */
  }
  75% {
    transform: rotate(270deg) translate(6rem) rotate(-270deg); /* Movendo para a esquerda, girando para cima */
  }
  100% {
    transform: rotate(360deg) translate(6rem) rotate(-360deg); /* Retorna à posição inicial */
  }
}

.busContainer {
  position: relative;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.logoBoschLoader {
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.busAnimation {
  position: absolute;
  width: 4rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: moveBusInCircle 5s linear infinite;
}

@keyframes scaleImage {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform: scaleX(1.3);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}