html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: darkgray;
}

.nameInputInside {
  width: 17.5em;
  height: 1.8em;
  border-radius: 20px;
  background-color: #d8dde0;
}

.colorTop {
  position: absolute;
  width: 100vw;
  height: 6px;
  z-index: 80;
  background-image: url('../../public/images/color.svg');
}

